@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .linkNav {
    transition: color 0.3s ease;
    &:hover {
      color: #ffd700;
    }
  }
  
    .product-card{
        animation-name: aparecer;
        animation-duration: 1s;
        &:hover{
            transform: scale(1.05);
            transition: transform 0.3s ease
    }
  }